/* .user-box {
  border: 1px solid red;
  width: 60%;
  display: flex;
  justify-content: space-between;
} */
/* .user-content {
  border: 1px solid green;
  width: 60%;
} */
.user-content .form-group {
  height: 30px;
  width: 90% !important;
  margin: auto;
 padding: 2px 15px;
}
.user-content .form-label {
  text-transform: capitalize;
  font-size: 16px !important;
  line-height: 25px !important;
}
.user-content .form-group .form-label:nth-child(2) {
  margin-left: -20%;
  font-weight: normal;
}
.user-content .form-group:hover {
  background-color: #0d6dfd15;
}
.user-img {
  width: 150px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  /* border: 2px solid green; */
  margin: auto;
}
.user-img img {
  width: 60%;
}
.user-content .fa-edit {
  color: #999 !important;
  cursor: pointer;
  transition: 0.3s linear;
  line-height: 30px !important;
  font-size: 14px;
}
.user-content .fa-edit:hover {
  color: #0d6efd !important;
}
